<input type="file" (change)="onFileSelected($event)"><!--
<div *ngFor="let sheetName of feuilles; let index=index">
  <h3>{{sheetName}}</h3>
  <table>
    <thead>
    <tr>
      <th *ngFor="let header of headers[index]">{{header}}</th>
    </tr>
    </thead>
    <tbody>
    </tbody>
  </table>
</div>
{{excelData | json}}-->

<div *ngFor="let feuille of excelData">
  <h3>{{ feuille.sheetName }}</h3>
  <table>
    <thead>
    <tr>
      <th *ngFor="let header of headers[feuille.sheetName]">{{ header }}</th>
    </tr>
    </thead>
    <!--{{feuille.data | json}}-->
  <tbody>
    <tr *ngFor="let row of feuille.data | keyvalue">
      <td *ngFor="let h of headers[feuille.sheetName] ">{{row.value[h]}}</td>
    </tr>
    </tbody>
  </table>
</div>

